.btnWrapper {
  text-decoration: none;
}

.returnBtn {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  margin-left: 26.91px;
  margin-bottom: 40.79px;
  margin-top: 74.49px;
  cursor: pointer;
}

.returnBtn > .ico {
  margin-right: 10px;
}

.btnWrapper > .returnBtn > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 15.9462px;
  line-height: 23px;
  /* identical to box height, or 144% */

  text-decoration-line: underline;

  color: #201f1d;
}

.vanDetail {
  margin-left: 26.91px;
  margin-bottom: 94.84px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.vanDetail > img {
  width: 497.32px;
  height: 490.35px;
  border-radius: 5px;
}

.vanDetail > .categoryBtn {
  width: 85.71px;
  height: 33.89px;
  border: none;
  outline: none;
  background: #e17654;
  border-radius: 5px;
  margin-top: 50.38px;
  margin-bottom: 20.38px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #ffead0;
  cursor: pointer;
}

.detailText > h2 {
  width: 494.33px;
  height: 34px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  /* identical to box height, or 105% */
  margin-bottom: 9.73px;
  color: #161616;
}

.detailPrice {
  margin-bottom: 9.81px;
  display: flex;
  align-items: flex-end;
  width: 494.33px;
  height: 45px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 44px;
  /* identical to box height, or 184% */

  color: #161616;
}

.desc {
  width: 494.33px;
  height: 120px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* or 149% */
  margin-bottom: 21.64px;
  color: #161616;
}

.rentBtn {
  width: 494.33px;
  height: 49.83px;
  border: none;
  outline: none;
  background: #ff8c38;
  border-radius: 4.98319px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  cursor: pointer;
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
  .vanDetail {
    margin-right: 26.91px;
  }

  .vanDetail > img {
    width: 60%;
    height: 680px;
    margin: auto;
  }

  .categoryBtn {
    width: 350.71px !important;
    margin: auto;
  }

  .detailText {
    text-align: center;
    margin: auto;
  }
  .detailPrice {
    align-items: center !important;
    justify-content: center;
  }
}
